* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
}

body {
    background-color:rgb(46, 121, 197);
}

#navlist {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin: 10px;
}

#navlist li:first-child{
    margin-right: auto;
}

li {
    display: flex;
}

li a {
    text-decoration: none;
    padding: 0.3em 1em;
    background-color: #ffffff;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

li a:hover {
    background-color: chocolate;
    padding-top: 2px;
    transform: scale(0.98);
}

li a:active {
    border: 1px solid blue;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
    margin: 2.5em 0 0.3em;
}

p {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 2em;
}

#survey-form {
    background-color: #e0e0e0;
    width: 700px;
    margin: auto;
    padding: 40px;
    border-radius: 0.5em;
}

#name,
#email,
#number,
#dropdown {
    padding: 0.5em 1em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    font-size: 1em;
    width: 620px;
    border-radius: 0.3em;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

#language {
    font-size: 1em;
    text-align: left;
    margin-bottom: 1em;
}

textarea {
    width: 620px;
    border: none;
    background-color: purple;
    margin-top: 1.5em;
    margin-bottom: 1em;
    cursor: pointer;
    padding: 1em;
}

#submit {
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-weight: 600;
    width: 620px;
    background-color: rgb(46, 138, 17);
    border: none;
    color: #ffffff;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

#submit:hover {
    background-color: hsl(106, 78%, 35%);
    transform: scale(0.98)
}

#submit:active {
    transform: scale(0.9em)
}

/* Focus Pointer Hover */